<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Active Role</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.userName }}</td>
        <td>{{ user.roles }}</td>
        <td>
          <button (click)="openRolesModal(user)" class="btn btn-info">
            edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
