<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Dating App</a
    >

    @if (currentUser$ | async) {

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/members"
          routerLinkActive="active"
          >Matches</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lists" routerLinkActive="active"
          >List</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages" routerLinkActive="active"
          >Messages</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/serverError" routerLinkActive="active"
          >Erros</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="logout()"
          class="nav-link"
          href="#"
          tabindex="-1"
          aria-disabled="true"
          >Logout</a
        >
      </li>
    </ul>

    <div
      *ngIf="currentUser$ | async as loggedInuser"
      class="btn-group"
      dropdown
    >
      <img
        src="{{ loggedInuser?.photoUrl || './assets/user.png' }}"
        alt="user Photo"
      />
      <a
        dropdownToggle
        class="text-light dropdown-toggle text-decoration-none align-content-center ms-2"
        aria-controls="dropdown-basic"
      >
        Welcome {{ loggedInuser.name | titlecase }}
        <span class="caret"></span>
      </a>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <a
            routerLink="/member/edit/{{ loggedInuser.id }}"
            class="dropdown-item"
            >Edit Profile</a
          >
        </li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="logout()">logout</a>
        </li>
      </ul>
    </div>

    }

    <form
      *ngIf="!(currentUser$ | async)"
      #lofinForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="name"
        [(ngModel)]="model.name"
        class="form-control me-2"
        type="text"
        placeholder="UserName"
      />
      <input
        name="Password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
